.codeblock {
  font-size: 15px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 1em;
  max-width: 100%;
  background-color: var(--athensGreyLight);
}

.codeblockBody {
  width: 100%;
  font-family: 'PT Mono', monospace;
  padding-bottom: 1em;
}

.codeblockNumbering {
  float: left;
  list-style-type: none;
  text-align: right;
  padding: 0 15px 0 25px;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome and Opera */
}


.codeblockHeader {
  width: 100%;
  margin: auto;
}

.codeblockLanguage {
  font-family: Vipps;
  line-height: 25px;
  color: var(--vippsblack);
  float: left;
  margin: 25px 15px 15px 25px;
}

.codeblockHeader button {
  color: var(--vippsblack);
}

.copyButton {
  font-family: Vipps;
  font-weight: lighter;
  color: var(--vippsblack);
  float: right;

  margin: 25px 25px 15px 15px;
  font-size: 13px;
  text-align: center;

  height: 30px;
  width: 65px;
  border-radius: 40px;
  border: 0.8px solid var(--ghost);
}

.copyButton:hover {
  color: var(--manatee);
}

.copyButton.selected {
  color: var(--rum);
}

.copyButton:focus {
  outline: none;
}

