/* Docupage CSS */
.Container {
  background-position-y: 17vh;
  background-position-x: 60vw;
  background-size: 40VW;
  background-image: url(../../img/smiliesBackground.svg);
  background-repeat: repeat-y;
  overflow-wrap: break-word;
}

#pageTitle {
  width: calc(90vw - var(--sidebarwidth) );
  font-size: 3.5em;
  margin-top: 0 !important;
  color: var(--vippsorange) !important;
  margin-bottom: 20px !important;
}

.InlineCode {
  background-color: var(--athensGreyLight);
  color: var(--vippsblack);
}


.Content img {
  margin: 10px 0 10px;
}

.Content table {
  margin: 10px 0 10px;
}


.LoadingSpinner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 10%;
  max-height: 10%;
}


h1,
h2,
h3 {
  margin-top: 9vh;
  margin-bottom: 3vh;
  color: var(--vippsblack);
}

h1 {
  font-size: 30px !important;
}

h2 {
  font-size: 26px !important;
}

h3 {
  font-size: 22px !important;
}

h4 {
  font-size: 18px !important;
}

h5{
  font-size: 16px !important;
}

h4,
h5 {
  margin-top: 5vh;
  margin-bottom: 1vh;
}

.resourceLink {
  width: 50%;
}




/* Vipps-colors */

:root {
  --lightgrey: #f6f6f9;
  --vippsorange: #ff5b24;
  --lightvippsorange: #fdf4ed;
  --vippspurple: #4d3280;
  --vippsblue: #59cbe8;
  --vippsblack: #161225;
  --vippsblueberry: #49367e;
}



.developerResources {
  border: none !important;
}

:root {
  font-size: calc(0.4vw + 0.4vh + .3vmin);
}


h1,
h2,
h3 {
  margin-left: 0 !important;
  margin-top: 9vh;
  margin-bottom: 3vh;
  color: var(--vippsblack);
}

h4,
h5 {
  margin-top: 5vh;
  margin-bottom: 1vh;
}

table code {
  background-color: inherit !important;
  padding: 0 !important;
}

.token {
  background-color: var(--lightgrey) !important;
}


.Container {
  max-width: 100vw;
  margin: 0px;
  display: grid;
  grid-template-columns:  minmax(25vw, 300px) auto;
  grid-template-areas:
    ". content1 "
}
.Content {
  grid-area: content1 ;
  max-width: 50em ;
  margin-bottom: 30vh;
}

.Content h2:first-child{
  border: 2px solid red !important;
}

.devResources hr {
  display: block;
  height: 2px;
  border: 0;
  border-top: 1px solid black;
  /* margin: 1em 0; */
  margin-left: inherit;
  margin-top: 1em;
  padding: 0;
}

.devResources a:hover {
  color: var(--vippsorange);
}

.devResources a:hover p {
  margin-right: 0%;
}

.devResources p {
  float: right;
  margin-right: 5%;
  transition: margin-right 0.05s ease-out;
}

.devResources div {
  font-size: 16px;
}



tr:nth-child(even) {
  background-color: var(--lightgrey) !important;
}

th {
  color: black !important;
  font-size: 16px;
  background-color: var(--lightgrey) !important;
  padding: 8px 8px 8px 8px !important;
}

.Tables {
  margin: 2em 0 2em;
  overflow: auto;
}

.Tables::-webkit-scrollbar {
  z-index: 0;
  height: 5px;
}

.Tables::-webkit-scrollbar-thumb {
  background: #c9c6d7;
  border-radius: 5px;
}

.Tables table{
  border: 1px solid #d8d8d8;
}

.Tables thead th {
  border-bottom: 1px solid #d8d8d8 ;
  border-left: 1px solid #d8d8d8 ;
  border-right: 1px solid #d8d8d8 ;
  font-weight: 600 ;
}



.Tables td {
  font-size: 15px !important;
  border-left: 1px solid #d8d8d8 ;
  border-right: 1px solid #d8d8d8 ;
}

.Content h1 {
  border-top: 1px solid #c9c6d7;
  line-height: 58px !important;
}

h1:first-child, h1:nth-child(2) {
  border-top: none;
}

.Content h1 {
  margin: 0 !important;
  font-size: 40px;
  color: var(--vippsorange);
}
.Content h2 {
  font-size: 30px;
}
.Content p {
  margin-bottom: 1.5rem;
}


.Content h1, .Content h2, .Content h3, .Content h4, .Content h5 {
  padding: 48px 0 10px !important;
  margin: 0 !important; 
}

.Content h2{
  line-height: 41px !important;
  padding-top: 48px !important;
}

.Content p {
  font-size: 18px !important;
  font-family: Arial, sans-serif !important;
}

.Content ul > li {
  margin-left: 1.25rem;
  list-style-position: outside !important;
  list-style-type: disc  !important;
  font-size: 18px !important;
  font-family: Arial, sans-serif !important;
  line-height: 27px;
}

.Content h1 {
  margin-top: 73px !important;
}


/* TODO: Mediaqueries */

.Content ol{
  font-size: 18px !important;
  font-family: Arial, sans-serif !important;
}

:root::-webkit-scrollbar {
  z-index: 0;
  width: 10px;
}

:root::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px 6px transparent !important;
}

:root::-webkit-scrollbar-thumb {
  box-shadow: inset -2px 0px 0px 2px white;
  background: var(--vippsorange);
  border-radius: 110px;
}

/* Variables */

:root {
  --sidebarwidth: 25vw;
  --vippsorange: #ff5b24;
  --lightvippsorange: #fdf4ed;
  --vippspurple: #4d3280;
  --vippsblue: #59cbe8;
  --vippsblack: #161225;
  --vippsblueberry: #49367e;
}

@media only screen and (max-width: 830px)  {
  .Container {
    margin-left: 8vw !important;
    max-width: 100vw;
    display: grid;
    grid-template-columns:  auto;
    grid-template-areas:
      "content1 "
  }

}