@import url("../../../styles/how-it-works.css");

.response-container {
  margin: 20px 0;
}

.response-wrapper {
  margin-bottom: 10px;  
}

/* Style the button that is used to open and close the collapsible content */
.response-button-collapsible,
.response-displayer-collapsible {
  background-color:var(--responseLightGreen);
  color: var(--responseGreen);
  padding: .7rem .5rem .7rem 1rem;
  width: 100%;

  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;

  border-radius: 5px;
  text-align: left;
  outline: none;
}

.response-button-collapsible {
  cursor: pointer;
}
 
.response-button-collapsible.error,
.response-displayer-collapsible.error {
    background-color:var(--responseLightRed);
    color:var(--responseRed);
}

/* Add the plus and minus sign when opening/closing */
.response-button-collapsible:after {
  content: '\002B';
  font-weight: bold;
  font-size: 15px; 
  float: right;
  margin-right: 5px;
}

.response-active:after {
  content: "\2212";
}


/* Add a background color to the button if it is clicked on, and when we move the mouse over it (hover) */
.response-active, .response-button-collapsible:hover {
  background-color: var(--gallery);
}

/* Style the collapsible content. Note: hidden by default */
.response-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}


@media (max-width:812px) {
  .response-button-collapsible,
  .response-displayer-collapsible {
    padding: 1rem .8rem 1rem 1.2rem;
  }
}

@media (min-width:768px) and (max-width:1100px) {

}