


.response-wrapper {
  margin-bottom: 10px;  
}

/* Style the button that is used to open and close the collapsible content */
.response-button-collapsible,
.response-displayer-collapsible {
  background-color: #edf8f4;
  color: black;
  padding: 12px;
  width: 100%;
  border-radius: 5px;
  text-align: left;
  padding-left: 25px;
  outline: none;
  font-size: 15px;
}

.response-button-collapsible {
  cursor: pointer;
}
 
.response-button-collapsible.error,
.response-displayer-collapsible.error {
    background-color: #fceeee;
}

/* Add the plus and minus sign when opening/closing */
.response-button-collapsible:after {
  content: '\002B';
  color: black;
  font-weight: bold;
  font-size: 15px; 
  float: right;
  margin-right: 5px;
}

.response-active:after {
  content: "\2212";
}


/* Add a background color to the button if it is clicked on, and when we move the mouse over it (hover) */
.response-active, .response-button-collapsible:hover {
  background-color: var(--gallery);
}

/* Style the collapsible content. Note: hidden by default */
.response-content {
  max-height: 0;
  overflow: hidden;
  background-color: var(--athensGreyLight);
  transition: max-height 0.2s ease-out;
}

/* Style the response json */ 
.response-content pre,
.response-content code {
	font-family: 'PT Mono' , monospace;
	font-size: .9rem;
	line-height: 1.75rem;
  letter-spacing: .01rem;
  padding: 0px 0px 0px 25px !important;
}
