@import url("../../node_modules/rc-tooltip/assets/bootstrap.css");
@import url("vipps-style.css");

/**
 * Predefined Vipps colours.
 */
:root {
 --debug: #FF00FF;
 --vippsblack: #161225;
 --vippsblue: #59cbe8;
 --vippsgray: #6f6f6f;
 --vippspurple: #5E3DC2;
 --vippsred: #EB5858;
 --vippsorange: #FF5B24;
 --vippsrust: #9B3716;

 --ghost: #C9C6D7;
 --seashellPeach: #FFF4EC;
 --gallery: #F0F0F0;
 --athensGrey: #EFEEF3;
 --athensGreyLight: #F6F6F9;
 --manatee: #938FA8;
 --rum: #706B8B;
}

.App {
  text-align: left;
}

/* 
 * The main wrapper for the content of the application
 * Apllication content does not include the vipps header or footer
 */
.intro-wrapper,
.content-wrapper,
.outro-wrapper {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
.intro-wrapper   {max-width: 1500px;}
.content-wrapper {max-width: 1300px;}
.outro-wrapper   {max-width: 1500px;}

/*
 *The layout for the intro elements
 */
.intro-wrapper {
	display: grid;
	grid-template-columns: 50% auto 40%;
	grid-template-rows: auto;
	grid-column-gap: 32px;
	grid-template-areas:
		"intro-text . intro-image";
	background-color: #FFF4EC;
	padding: 128px;
	max-height: 1000px;
	margin-top: 64px;
	margin-bottom: 64px;
}

.intro-text {
	grid-area: intro-text;
	align-self: center;
	justify-self: end; 
}

.intro-image { 
	grid-area: intro-image;
	align-self: center;
	justify-self: start; 
}

.intro-title {
	color: var(--vippsorange);
	font-weight: bold;
}

/*
 *The layout for the outro elements
 */
.outro-wrapper {
	display: block;
	height: 600;
	background-color: var(--seashellPeach);
	color: var(--vippsblack);
	margin-top: 64px;
	padding: 128px;
	text-align: center;
}

.outro-text {
	margin: 50px;
	margin-left: auto;
	margin-right: auto;
	max-width: 800px;
	overflow-y: auto;
	
}

.outro-image, 
.outro-image img { 
	width:  250px;
	height: 250px;
	margin: auto;
}

.outro-link {  
	margin-top: 50px;
}

.outro-title {
	margin-bottom: 50px;
	font-weight: bold;
}

/*
 * The styling for text links and popups.
 */
.keyword-overlay {
	max-width: 400px;
}




/*
 * The Dropdown styling..
 */

.dropdown {
	display: inline-block;
	position: relative;
	width: 100%;
	z-index: 10;
}

.dropdown-content {
	display: none;
	position: absolute;
	width: 100%;
}

.dropdown:hover .dropdown-content {
	display: block;
}

.dropdown-border {
	padding-left: 5px;
	padding-right: 5px;
	border-width: 2px; 
	border-style: hidden;
}

.dropdown-border.top {
	border-radius: 20px 20px 0px 0px;
	padding-bottom: 5px;
	margin-bottom: -5px;
}
.dropdown-border.bot {
	border-radius: 0px 0px 20px 20px;
}

.dropdown:hover .dropdown-border.top {
	border-top-style: solid;
	border-left-style: solid;
	border-right-style: solid;
}

.dropdown:hover .dropdown-border.bot {
	border-left-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
}

.dropdown:hover .dropdown-border {
	background-color: #fbfbfb;
	border-color: #e0e0e0;
	border-left-style: solid;
	border-right-style: solid;
	justify-content: space-around;
}

.dropdown-border button {
	display: block;
	text-align: left;
	margin-top: 5px;
	margin-bottom: 5px;
	width: 100%;
	border-style: solid;
	border-width: small;
	border-color: #e0e0e0;
}

.dropdown-icon:after {
	float: right;
	display: inline-block;
	content: '';
	height: .8em;
	width: .8em;
	border-style: solid;
	border-width: 0.3em 0.3em 0 0;
	
	margin-left: 0.7em;
	//margin-bottom: 0.5em;
	margin-top: 0.25em;
	
	transform: rotate(-45deg);
	vertical-align: bot;	
}
.dropdown-icon:after {
    transform: rotate(-135deg);
}
.dropdown:hover .dropdown-icon:after {
	transform: rotate(135deg);
}