/* How It Works */

@import url("../../node_modules/rc-tooltip/assets/bootstrap.css");
@import url("vipps-style.css");


html, body {
	height:100%;
}

/**
 * Predefined Vipps colours.
 */
:root {
 --debug: #FF00FF;
 --vippsblack: #161225;
 --vippsblue: #59cbe8;
 --vippsgray: #6f6f6f;
 --vippspurple: #49367E;
 --vippsred: #EB5858;
 --vippsorange: #FF5B24;
 --vippsrust: #9B3716;
 --signalPurple: #5E3DC2;

 --ghost: #C9C6D7;
 --seashellPeach: #FFF4EC;
 --gallery: #F0F0F0;
 --athensGrey: #EFEEF3;
 --athensGreyLight: #F6F6F9;
 --athensGreyMedio: #FCFBFE;
 --manatee: #938FA8;
 --rum: #706B8B;

 --responseLightGreen: #E9FBE7;
 --responseGreen: #6EC06A;
 --responseLightRed: #FAEAEA;
 --responseRed: #E16060;
}

.App {
  text-align: left;
  color: var(--vippsblack) !important;
  margin: 0px;
  display: grid;
  grid-template-columns: 280px auto;
  grid-template-rows: auto auto auto auto auto;
  grid-template-areas:
    "sidebarheader	intro-wrapper"
	"sidebar		flow-wrapper"
	"sidebar		content-wrapper"
	"sidebar-footer content-wrapper"
	"outro-wrapper	outro-wrapper";
}

@media (max-width:812px) {
	.App {
		display:flex;
		flex-flow:row wrap;
		margin:0 0 0 2rem;
		width:812px;
	}
}

/* 
 * The main wrapper for the content of the application
 * Apllication content does not include the vipps header or footer
 */
.intro-wrapper,
.content-wrapper,
.outro-wrapper,
.flow-wrapper {
	margin-left: 120px;
	margin-right: 20px;
}
.intro-wrapper   {
	max-width: 1000px;
	grid-area: intro-wrapper;
}

.content-wrapper {
	max-width: 1000px;
	grid-area: content-wrapper;
}



.outro-wrapper   {
	max-width: 100vw;
	grid-area: outro-wrapper;
}

.flow-wrapper {
	max-width: 100%;
	grid-area: flow-wrapper;
}

/*
 *The layout for the intro elements
 */
.intro-wrapper {
	max-height: 1000px;
	margin-top: 64px;
	margin-bottom: 64px;
}

.intro-text {
	align-self: center;
	justify-self: end; 
	font-weight:300;
}

.intro-image { 
	grid-area: intro-image;
	align-self: center;
	justify-self: start; 
}

.intro-title {
	color: var(--vippsorange);
	font-family: VippsHeader;
	margin:2rem 0 2rem 0;
}

.intro-sub {
	margin:2rem 0 2rem 0;
	font-size:23px;
}

.intro-description {
	font-size: calc(.4rem + .8vw);
	line-height: calc(1rem + 1vw);
	margin:1rem 0 1rem 0;
	white-space:initial;
	width:50vw;
}

/*
 *The layout for the outro elements
 */
.outro-element {
	grid-area: outro-wrapper;
	margin-top: 64px;
	height: auto;
}

.outro-wrapper {
	display: block;
  position: absolute;
/* 	//top: 0; */
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1000; /* Goddamnit Docu Group, why is scrollbar @ z: 999 ?? */
	background-color: var(--seashellPeach);
	color: var(--vippsblack);
	margin: 0px;
	padding: 128px;
	text-align: center;
	grid-area:outro-wrapper;
}

.outro-text {
	margin: 50px;
	margin-left: auto;
	margin-right: auto;
	max-width: 800px;
	overflow-y: auto;
	
}

.outro-image, 
.outro-image img { 
	width:  250px;
	height: 250px;
	margin: auto;
}

.outro-link {  
	margin-top: 50px;
}

.outro-title {
	margin-bottom: 50px;
	font-weight: bold;
}

/* Styling for the sections */

.section-title {
	color: var(--vippsorange);
	font-size:40px;
	font-family: Vippsheader;
}

.section-line {
	grid-column:1/8;
	display:flex;
	flex-flow:row wrap;
	width:100%;
	margin:20px 0 80px 0;
}

.first-line {
	flex:1;
	height:2px;
	background-color:var(--rum);
	width:100%;
	align-self:center;
}

.section-end {
	flex:2;
	color:var(--rum);
	text-transform:uppercase;
	font-size:1rem;
	margin:0 2rem 0 2rem;
}

.last-line {
	flex:8;
	height:2px;
	background-color:var(--rum);
	width:100%;
	align-self:center;
}

/* mobilie */
@media (max-width:812px) {
	.intro-description {
		font-size:14px;
		line-height:23px;
		width:100%;
		font-weight:300;
	}
	.intro-title {
		font-size:30px;
		line-height:27px;
		margin-top:70px;
	}
	.intro-sub {
		font-size:18px;
		line-height:28px;
		width:100%;
		padding-top:2rem;
	}
	.content-wrapper {
		margin-left:0px;
		margin-right:10px;
		flex: 1 0 auto;
		max-width:812px;
	}

	.intro-wrapper {
		width:100%;
		margin: 0 10px 0 5px;
		margin-top:20px;
		flex:1;
	}

	.outro-wrapper {
		flex-shrink:0;
		position:relative;
	}
	
	.section-line {
		display:flex;
		flex-flow:row wrap;
		width:100%;
		margin:0;
	}

	.first-line, .last-line {
		height:3px;
		background-color:var(--rum);
		width:100%;
		align-self:center;
	}
	
	.first-line {
		flex:1;

	}
	
	.section-end {
		flex:2;
		color:var(--rum);
		text-transform:uppercase;
		font-size:12px;
		margin:0 2rem 0 2rem;
	}
	
	.last-line {
		flex:8;
	}
}

/* tablet and small screens */
@media (min-width:768px) and (max-width:1100px) {
	.intro-description {
		font-size:15px;
		line-height:24px;
		width:100%;
	}
	.intro-title {
		font-size:35px;
		line-height:45px;
		margin-top:70px;
	}
	.intro-sub {
		font-size:22px;
		line-height:28px;
		width:100%;
	}
}


/* big screens */

@media (min-width:1200px) {
	.intro-description {
		font-size:18px;
		line-height:27px;
		width:100%;
	}
	.intro-title {
		font-size:43px;
		line-height:60px;
		margin-top:70px;
	}
	.intro-sub {
		font-size:23px;
		line-height:32px;
		width:100%;
	}
}
