@import url("../../node_modules/rc-tooltip/assets/bootstrap.css");
@import url("vipps-style.css");
@import url("code-theme.css");
@import url("../../node_modules/codemirror/lib/codemirror.css");

/**
 * Predefined Vipps colours.
 */
:root {
 --debug: #FF00FF;
 --vippsblack: #161225;
 --vippsblue: #59cbe8;
 --vippsgray: #6f6f6f;
 --vippspurple: #5E3DC2;
 --vippsred: #EB5858;
 --vippsorange: #FF5B24;
 --vippsrust: #9B3716;

 --ghost: #C9C6D7;
 --seashellPeach: #FFF4EC;
 --gallery: #F0F0F0;
 --athensGrey: #EFEEF3;
 --athensGreyLight: #F6F6F9;
 --manatee: #938FA8;
 --rum: #706B8B;
}

.App {
  text-align: left;
}

/* 
 * The main wrapper for the content of the application
 * Apllication content does not include the vipps header or footer
 */
.content-wrapper {
	text-align: left;
	display: grid;
	grid-template-columns: auto 100px auto 100px auto;
	grid-template-rows: auto auto auto;
	grid-template-areas:
		".			intro-area	intro-area	intro-area	."
		".			. 			step-area	.			."
		"outro-area	outro-area	outro-area	outro-area	outro-area";
}

.intro-area {
	grid-area: intro-area;
}

.step-area {
	grid-area: step-area;
}

.outro-area {
	grid-area: outro-area;
}

/*
 *The layout for the intro elements
 */
.intro-wrapper {
	display: grid;
	grid-template-columns: 60% 40%;
	grid-template-rows: auto;
	grid-column-gap: 32px;
	grid-template-areas:
		"intro-text intro-image";
	
	background-color: #FFF4EC;
	margin-top: 64px;
	margin-bottom: 64px;
	padding: 10%;
	max-width: 1500px;
	width:100%;
}

.intro-text {
	grid-area: intro-text;
	align-self: center;
	justify-self: end; 
}

.intro-image { 
	grid-area: intro-image;
	align-self: center;
	justify-self: start; 
}

.intro-title {
	color: var(--vippsorange);
	font-weight: bold;
}

/*
 *The layout for the outro elements
 */
.outro-wrapper {
	display: block;
	width: auto;
	height: 600;
	background-color: var(--seashellPeach);
	color: var(--vippsblack);
	margin-top: 64px;
	padding: 128px;
	text-align: center;
}

.outro-text {
	margin: 50px;
	margin-left: auto;
	margin-right: auto;
	max-width: 800px;
	overflow-y: auto;
	
}

.outro-image, 
.outro-image img { 
	width:  500px;
	height: 500px;
	margin: auto;
}

.outro-link {  
	margin-top: 50px;
}

.outro-title {
	margin-bottom: 50px;
	font-weight: bold;
}

/*
 * The styling for text links and popups.
 */
.keyword-overlay {
	max-width: 400px;
}

.rc-tooltip {
	opacity: 1;
	z-index: 4;
	border-radius: 100px 25px 25px 25px;
}

.underlined-purple {
	color: #49367e;
	text-decoration: underline;
}

.rc-custom-link {
	color: #FFF4EC;
	text-decoration: underline;
}

.rc-custom-link, a:hover {
    color: inherit; 
}

/*
 * The layouts for both Step and CodeStep.
 * Step.js -> 2.0 styling
 */

.step-wrapper {
	max-width: 1300px;
	width: 100%;
	height: auto;
	overflow: auto;
	margin-top: 128px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 128px;
}

.step-left {
	float: left;
	width: 55%;
	height: auto;
	padding: 16px;
}

.step-right {
	float: right;
	width: 45%;
	height: auto;
	padding: 16px;
}

.step-img,
.step-title,
.step-description,
.step-json,
.step-box {
	margin-top: 16px;
	margin-bottom: 16px;
}

.step-title {
	//padding-top: 125px;
}

.step-description {
	font-family: 'Arial', sans-serif;
	font-size: 1.3rem;
	line-height: 1.9rem;
	letter-spacing: .01rem;
	padding-top: 16px;
	padding-bottom: 64px;
}

.step-img {
	display: block;
	width: 55%;
	height: 250px;
	padding: 16px;
	text-align: center;
}

.step-img img {
	width: 250px;
	height: 250px;
}

.step-box {
	display: block;
	height: auto;
	width: 100%;
	padding: 5px;
	border-radius: 5px;
	border: 0.8px solid var(--ghost);
	background-color: var(--athensGreyLight);
}

.step-box pre[class*="language-"],
.step-box code[class*="language-"] {
	font-family: 'PT Mono' , monospace;
	font-size: .9rem;
	line-height: 1.75rem;
	letter-spacing: .01rem;
}

.step-box table {
	display: table;
	margin: auto;
}

.step-box tbody {
	display: table-body;
}

.step-box tr {
	display: table-row;
}

.step-box td {
	display: table-cell;
	padding: 5px;
}

.step-box.step-description {
	word-wrap: break-word;
}





/*
 * The Dropdown styling..
 */

.dropdown {
	display: inline-block;
	position: relative;
	width: 100%;
	z-index: 10;
}

.dropdown-content {
	display: none;
	position: absolute;
	width: 100%;
}

.dropdown:hover .dropdown-content {
	display: block;
}

.dropdown-border {
	padding-left: 5px;
	padding-right: 5px;
	border-width: 2px; 
	border-style: hidden;
}

.dropdown-border.top {
	border-radius: 20px 20px 0px 0px;
	padding-bottom: 5px;
	margin-bottom: -5px;
}
.dropdown-border.bot {
	border-radius: 0px 0px 20px 20px;
}

.dropdown:hover .dropdown-border.top {
	border-top-style: solid;
	border-left-style: solid;
	border-right-style: solid;
}

.dropdown:hover .dropdown-border.bot {
	border-left-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
}

.dropdown:hover .dropdown-border {
	background-color: #fbfbfb;
	border-color: #e0e0e0;
	border-left-style: solid;
	border-right-style: solid;
	justify-content: space-around;
}

.dropdown-border button {
	display: block;
	text-align: left;
	margin-top: 5px;
	margin-bottom: 5px;
	width: 100%;
	border-style: solid;
	border-width: small;
	border-color: #e0e0e0;
}

.dropdown-icon:after {
	float: right;
	display: inline-block;
	content: '';
	height: .8em;
	width: .8em;
	border-style: solid;
	border-width: 0.3em 0.3em 0 0;
	
	margin-left: 0.7em;
	//margin-bottom: 0.5em;
	margin-top: 0.25em;
	
	transform: rotate(-45deg);
	vertical-align: bot;	
}
.dropdown-icon:after {
    transform: rotate(-135deg);
}
.dropdown:hover .dropdown-icon:after {
	transform: rotate(135deg);
}