/* Index CCS*/

h1,
h2,
h3 {
  margin-top: 9vh;
  margin-bottom: 3vh;
  color: var(--vippsblack);
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 18px;
}

h4,
h5 {
  margin-top: 5vh;
  margin-bottom: 1vh;
}


/* Vipps-colors */

:root {
 --debug: #FF00FF;
 --vippsblack: #161225;
 --vippsblue: #59cbe8;
 --vippsgray: #6f6f6f;
 --vippspurple: #49367E;
 --vippsred: #EB5858;
 --vippsorange: #FF5B24;
 --vippsrust: #9B3716;
 --signalPurple: #5E3DC2;

 --ghost: #C9C6D7;
 --seashellPeach: #FFF4EC;
 --gallery: #F0F0F0;
 --athensGrey: #EFEEF3;
 --athensGreyLight: #F6F6F9;
 --manatee: #938FA8;
 --rum: #706B8B;
}