

h1,
h2,
h3 {
  margin-top: 9vh;
  margin-bottom: 3vh;
  color: var(--vippsblack);
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 18px;
}

h4,
h5 {
  margin-top: 5vh;
  margin-bottom: 1vh;
}

.DocCardTitle {
  color: var(--vippsorange);
}

h1:first-of-type {
  color: var(--vippsorange);
}

.container {
  color: var(--vippsblack) !important;
  margin: 0px;
  display: grid;
  grid-template-columns: 350px 40vw 40vw;
  grid-template-rows: 5vh 90vh 5vh;
  grid-template-areas:
    "sidebarheader content1 content2 "
    "sidebar content1 content2"
    "sidebarfooter content1 content2";
}
.content {
  margin-right: 10vw;
  grid-area: content1 / content1 / content2 / content2;
  max-width: 50em;
}

.sidebarfooter {
  grid-area: sidebarfooter;
}

.sidebar {
  margin: 2vh;
  position: fixed;
  grid-area: sidebar;
}

.sidebarheader {
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 30px;
  max-width: 100px;
  grid-area: sidebarheader;
}

.sidenav {
  box-shadow: none !important;
}

/* Vipps-colors */

:root {
  --vippsorange: #ff5b24;
  --lightvippsorange: #fdf4ed;
  --vippspurple: #4d3280;
  --vippsblue: #59cbe8;
  --vippsblack: #161225;
  --vippsblueberry: #49367e;
}
