
/*
 * The layout for Step.
 * All 'step-wrapper's are inside the 'content-wrapper' with a max-width of [1300px]
 */
.step-wrapper {
	width: 100%;
	height: auto;
	overflow: auto;
	margin-top: 128px;
	margin-bottom: 128px;
}

.step-left {
	float: left;
	width: 55%;
	height: auto;
	padding: 16px;
}

.step-right {
	float: right;
	width: 45%;
	height: auto;
	padding: 16px;
}

.step-img,
.step-title,
.step-description,
.step-box {
	margin-top: 16px;
	margin-bottom: 16px;
}

.step-description {
	font-family: 'Arial', sans-serif;
	font-size: 1.3rem;
	line-height: 1.9rem;
	letter-spacing: .01rem;
	padding-top: 16px;
	padding-bottom: 16px;
}

.step-img {
	display: block;
	width: 55%;
	height: 250px;
	padding: 16px;
	text-align: center;
}

.step-img img {
	width: 250px;
	height: 250px;
}

.step-box {
	display: block;
	height: auto;
	width: 100%;
	padding: 5px;
}

.step-box.step-description {
	word-wrap: break-word;
}


/**
 * The styling for tooltip.
 */
.rc-tooltip {
	opacity: 1;
	z-index: 4;
	border-radius: 100px 25px 25px 25px;
}

.underlined-purple {
	color: #49367e;
	text-decoration: underline;
}

.rc-custom-link {
	color: #FFF4EC;
	text-decoration: underline;
}

.rc-custom-link, a:hover {
    color: inherit; 
}
