 /*
  * The outer wrapper, includes everything in the step
  */
  
.step-wrapper {	
	display:grid;
	grid-template-columns: repeat(6, 9.9vw);
	grid-column-gap: 1.4vw;
	grid-row-gap: 1vw;
	margin-bottom:100px;
}

/* grid items */

.step-headline {
	display:flex;
	flex-flow:row wrap;
	grid-column:1/7;
	align-items:center;
	height:auto;
	width:100%;
}

.step-title {
	font-family: VippsHeader;
	font-size: 28px;
	line-height: 38px;
	width:100%;
	flex:10;
}

.step-introduction {
	padding:1rem 0rem 1rem 3rem;
	border-left:3px solid var(--rum);
	grid-column: 1/6;
	margin:1rem 0 3rem 0;
}




/* The image component */

.step-wrapper img {
	height: 150px;
}

.step-img {
	flex:2;
/* 	height:150px; */
	width:100px;
}

.img-circle {
	width:50px;
	height:50px;
	border-radius:50%;
	border:6px solid var(--vippsorange);
}


/*
 * The wrapper around the descrption, responses and data.
 */
.step-content {
	grid-column:1/5;
}  

.step-text-responses {
	grid-column:1/4;
}

.step-data {
	grid-column:4/7;
}

.step-data, 
.step-description {
	padding-top: 16px;
	padding-bottom: 40px;
} 

.step-description {
	grid-column:1/3;
	padding-right:1rem;
}

.step-description,
.step-introduction {
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 33px;
}



/* mobil */

@media (max-width: 812px) {
	.step-wrapper {
		display:flex;
		flex-flow:column;
		margin-bottom:20px;
	}
	.step-wrapper img {
		width:60vw;
		height:auto;
	}
	.step-img {
		flex:1;
		margin:0;
		align-self:center;
	}
	.img-circle {
		display:block;
		width:30px;
		height:30px;
		border-radius:50%;
		border:6px solid var(--vippsorange);
		margin-bottom:20px;
		flex:1;
		margin-top:11px;
	}
	.step-title {
		flex:3;
		font-size:21px;
		line-height:29px;
		align-self:center;
	}
	.step-introduction {
		margin:1rem 0 1rem 0;
		padding:1rem 0rem 1rem 3rem;
		flex:1;
	}
	.step-introduction, .step-description {
		font-size:18px;
		line-height:28px;
		padding-bottom:20px;
	}

	.step-data {
		flex:1;
	}
	.step-description {
		flex:1;
	}
/* 	.step-introduction, .step-description {
		width:100vw;
	} */

	.step-headline {
		margin-bottom:2rem;
		height:90px;
	}
  }

  /* tablet */

  @media (min-width:768px) and (max-width:1100px) {
	.step-wrapper {
		display:flex;
		flex-flow:row wrap;
		margin-bottom:70px;
	}
	.img-circle {
		width:50px;
		height:50px;
		border-radius:50%;
		border:6px solid var(--vippsorange);
		line-height:100px;
		align-self:center!important;
	}
	.step-img {
		margin-right:20px;
		flex:2;
		width:100px;
	}

	.step-wrapper img {
		height:100px;
	}
	.step-title {
		flex:11;
		width:100%;
		
	}
	.step-headline {
		align-items: center!important;
		width:100%;
		height:100px;
	}
	.step-data {
		flex:1;
		margin-right:20px;
		width:100%;
	}
  }

  @media (min-width:1300px) {
	.step-title {
		flex:18;
	}
}