 /*
  * The outer wrapper, includes everything in the step
  */
.step-wrapper {
	overflow: auto;

	width: 100%;
	margin-top: 128px;
	margin-bottom: 200px;
	display: grid;
	grid-template-columns: 250px auto;
	grid-template-rows: auto auto;
	grid-column-gap: 30px;
	grid-template-areas: "step-image step-header"
						 ".			 step-content";
}

/* Includes the title and the introduction (if any) */
.step-header {
	grid-area: step-header;
}

.step-title {
	width: 45%;
	grid-area: step-title;
}

.step-introduction {
	font-style: italic;
	width: 45%;
}


/*
 * The wrapper around the descrption, responses and data.
 */
.step-content {
	display: block;
	overflow: auto;
	grid-area: step-content;
}

.step-text-responses {
	float: left;
	width: 45%;
	height: auto;
	padding-right: 16px;
}

.step-data {
	float: right;
	width: 55%;
	padding-left: 30px;
	
}

.step-data, 
.step-description,
.step-introduction {
	padding-top: 16px;
	padding-bottom: 48px;
}

.step-description,
.step-introduction {
	font-size: 1.3rem;
	font-family: 'Arial', sans-serif;
	line-height: 1.9rem;
	letter-spacing: .01rem;
}

/* The image component */

.step-wrapper img {
	grid-area: step-image;
	grid-row: 1 / -1;
}


/**
 * The styling for tooltip.
 */
.rc-tooltip {
	opacity: 1;
	z-index: 4;
	border-radius: 100px 25px 25px 25px;
}

.underlined-purple {
	color: #49367e;
	text-decoration: underline;
}

.rc-custom-link {
	color: #FFF4EC;
	text-decoration: underline;
}

.rc-custom-link, a:hover {
    color: inherit; 
}
