/* SETUP */
.DocCardImg img {
  max-width: 10vw;
}

.DocCardImg h2 {
  color: var(--vippsorange) !important;
}

h1 {
  margin-left: 5%;
  grid-row-start: 2;
}
h2 {
  margin: auto;
}
/* ----------------------------------------------- */
/* Frontpage */

.StartPage {
  background: #fdf4ed;
  height: 100vh;
  padding: 25px;
  display: grid;
  grid-template-columns: 20% 16% 26% 16% 20%;
  grid-template-rows: auto;
  grid-template-areas:
    "logo . . . ."
    ". cards cards cards ."
    ". . . . ."
    ". . . . .";
}

.VippsDev {
  grid-area: logo;
  position: relative;
}

.VippsDev img {
  position: absolute;
  width: 20vw !important;
  bottom: 0;
  left: 5vw;
}

.Cards {
  display: grid;
  grid-area: cards;
  grid-template-columns: 30vw 30vw 30vw;
  justify-content: space-evenly;
}

.DocCard {
  background: white;
  height: 30vw;
  width: 20vw;
  min-height: 375px;
  min-width: 250px;
  padding: 10%;
  border-radius: 7.5% 7.5% 7.5% 7.5% / 5% 5% 5% 5%;
  box-shadow: 0.1vh 0.5vh 1vh rgba(0, 0, 0, 0.3);
  transition: 0.3s;
  display: grid;
  grid-template-rows: 45% 35% 20%;
  grid-template-columns: auto;
  grid-template-areas:
    "img"
    "text"
    "buttons";
  place-self: center;
  justify-items: center;
  text-align: center;
}

.DocCardImg {
  grid-area: img;
  height: 100%;
  margin: auto;
  min-height: 120px;
  min-width: 120px;
}

.DocCardImg img {
  min-height: 120px;
  min-width: 120px;
}

.DocCardText {
  grid-area: text;
  margin-top: 5%;
  margin-bottom: 5%;
  height: 100%;
  width: 100%;
}

.DocCardText h2 {
  font-size: calc(6px + 0.8vh + 0.8vw) !important;
}

.DocCardText p {
  font-size: calc(6px + 0.3vh + 0.3vw) !important;
}

.DocCardTitle {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.DocCardLinks {
  grid-area: buttons;
  display: grid;
  grid-template-rows: 1fr 1fr;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-items: center;
  font-size: calc(4px + 0.6vh + 0.4vw) !important;
}

.DocumentationLink {
  border: none;
  background: none;
  text-decoration: underline;
  cursor: pointer;
  color: #49367e;
}

.GetStartedLink {
  border: none;
  background: #49367e;
  color: white;
  border-radius: 10% 10% 10% 10% / 50% 50% 50% 50%;
  height: 100%;
  width: 90%;
}

.GetStartedText {
  /* height: 100%;
  width: 100%;
  justify-content: center;
  align-content: center; */
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.APIcontainer {
  grid-area: link;
  margin-top: 0;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  align-content: center;
}

.FullAPILink {
  border: none;
  background: #49367e;
  color: white;
  height: 60px;
  width: 275px;
  border-radius: 30px;
}

.DocuPage {
  color: #ffffff;
  background: white;
  height: 100vh;
  display: grid;
  grid-template-columns: 330px auto;
}
/* ----------------------------------------------- */

/* CONTENT */
.ContentField {
  background: white;
}

.ContentSection {
  background: white;
  height: 100%;
  width: 95%;
  margin: auto;
}

/*TODO Custom scrollbar breaks with a lot of browsers
    https://stackoverflow.com/questions/9251354/css-customized-scroll-bar-in-div
    */
.ScrollSection {
  background: white;
  height: 100%;
  width: 5%;
  display: inline-block;
}

.TitleHeader {
  background: white;
  height: 20%;
  width: 100%;
  display: grid;
  /* grid-auto-rows: 50% 5% 45%; */
}

.ContentRow {
  background: white;
  display: grid;
  grid-auto-columns: 5% 40% 10% 40% 5%;
  padding: 0px 0px 100px 0px;
}

.TextBox {
  background: white;
  grid-column-start: 2;
  padding: 5px;
  color: black;
  white-space: pre-wrap;
}

.ImgBox {
  background: white;
  grid-column-start: 4;
  display: flex;
  align-items: center;
  justify-content: center;
}

.CodeBox {
  background: #f6f6f9;
  color: #939393;
  grid-column-start: 4;
}

.listEl {
  padding: 0px 0px 0px 30px !important;
  margin: 5px 0px 5px 20px !important;
  text-decoration: none;
  line-height: 32px !important;
  font-size: 16px;
  color: #49367e;
  display: block;
  background-color: white;
  border-radius: 20px;
  width: 50%px !important;
}

.listEl:hover {
  background: #f6f6f9;
}

.collapsible-header {
  padding: 0px 0px 0px 30px !important;
  text-decoration: none;
  line-height: 40px !important;
  font-size: 16px;
  color: #49367e;
  display: block;
  background-color: white;
  border-radius: 20px;

  width: 100%;
  border-bottom: white;
}

.collapsible-header:hover {
  background: #f6f6f9 !important;
}

.active {
  background-color: white !important;
}

.collapsible {
  margin: 40px 0px 0px 0px !important;
  border-top-color: white;
  border-top: 0px;
  border-bottom-color: white;
  border-bottom: 0px;
  border-right-color: white;
  border-right: 0px;
  border-left-color: white;
  border-left: 0px;
  box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0), 0 0px 0px 0px rgba(0, 0, 0, 0),
    0 0px 0px 0 rgba(0, 0, 0, 0);
}

.collapsible-body {
  padding: 0px 0px 0px 0px !important;
}

.sidebarMarg {
  margin-left: 50px;
}

.button:focus {
  background-color: #f6f6f9 !important;
}
