/* SIDEBAR */
#root.Sidebar {
  width: 100%;
  transform: none !important;
  background: white !important;
  padding-left: 1vw;
}

.sidenav {
  padding: 0 !important;
  box-shadow: none;
}

.scrollable ul {
  margin-top: 0 !important;
}

.listTop {
  width: 90%;
}

.SidebarHeader a img {
  padding-top: 4vh;
}

.sidenav.sidenav.sidenav-fixed.sidebarPadding {
  transform: translateX(0%) !important;
}

@media only screen and (max-width: 830px)  {
  .scrollable {
    display: none;
  }
  .sidenav {
    background:none;
    box-shadow:none;
    visibility: hidden;
  }
  .SidebarHeader {
    width:100%;
    background:#fff;
  }
  .fadeout-bottom {
    display:none;
  }
  .sidebarlogo {
    width:100%;
    background:#fff;
    display:none;
  }
}

.SidebarHeader {
  height: 10vh;
  display: flex;
  position: sticky;
  top: 0;
  z-index: 1;
  background: white;
  padding-left: 20px;
  align-items: left !important;
  justify-content: left !important;
}

.Logo {
  position: fixed;
  height: 30px;
  width: 186px;
  margin-top: 30px;
}


.listEl a:hover{
  background-color: transparent !important;  
}

.listEl {
  text-decoration: none;
  font-size: 16px;
  color: #49367e;
  display: block;
  background-color: white;
}
.listEl:hover {
  color: #5E3DC2!important;
}

.listTop.selectedElement > .sidebarLink, .listEl.selectedElement > a {
  color: #5E3DC2!important;
}

.collapsible-header {
  padding: 0px 0px 0px 20px !important;
  text-decoration: none;
  line-height: 25px !important;
  font-size: 16px;
  color: #49367e;
  display: block;
  background-color: white;
  border-bottom: white;
}

.collapsible-header:hover {
  background-color: transparent !important;
  color: #5e3dc2 !important;
}

.keyboard-focused .collapsible-header:focus {
  background-color: #fff;
}

.collapsible-header:hover > div > a {
  color: #5E3DC2!important;
}

.collapsible-header > div > a {
  color :var(--vippsblack) !important;
  text-decoration: none;
  line-height: 25px !important;
  font-size: 16px !important;
  display: inline-block;
  font-weight: lighter;
}

.collapsible-header > div {
  display: flex !important;
  justify-content: space-between;
}

.sidebarLink, .arrow{
  margin: auto !important;
}

.sidebarLink {
  margin-left: 0 !important;
  padding-right: 10px; 
}


.arrow {
  min-width: 8px;
  max-width: 13px;
  right: 0;
  overflow: visible;
  z-index: 999;
  margin-right: 0 !important;
  transition-duration:0.2s;
  transition-timing-function: ease-in-out;
  -webkit-transition-duration:0.2s;
  -webkit-transition-timing-function: ease-in-out;
}

.active {
  background-color: white !important;
}

.active .arrow {
  transition-duration:0.2s;
  transition-timing-function: ease-in-out;
  -webkit-transition-duration:0.2s;
  -webkit-transition-timing-function: ease-in-out;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.collapsible {
  margin-bottom: 10vh !important;
  border-top-color: white;
  border-top: 0px;
  border-bottom-color: white;
  border-right-color: white;
  border-right: 0px;
  border-left-color: white;
  border-left: 0px;
  box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0), 0 0px 0px 0px rgba(0, 0, 0, 0),
    0 0px 0px 0 rgba(0, 0, 0, 0);
}

.collapsible-body {
  padding: 22px 0px 0px 0px !important;
}

.sidebarPadding {
  padding-left: 10px !important;
}

.button:focus {
  background-color: white !important; /*f6f6f9*/
}


li > div > a:hover {
  display: block;
  color: #49367e;
}
/* SIDEBAR HEADERS */
li > div > a {
  display:inline-block !important;
  width:100% !important;
  height:100% !important;
  line-height: 19px !important;
  padding: 5px 10px 5px 5px !important;
  vertical-align: middle;
  color: #161225 !important;
  margin: 0px 10px 0px 0px !important;
}



li {
  line-height: 32px;
  margin-top: 9px;
}

.collapsible-header{
  margin-top: 31px !important;
}


 /* SIDEBAR SUBHEADERS */ 
 .sidenav li > a {
  border-radius: 20px;
  display:inline-block !important;
  width:100% !important;
  height:100% !important;
  line-height: 16px !important;
  padding: 5px 40px 5px 35px !important;
  font-weight: lighter;
  vertical-align: middle;
  color: #161225 !important;
  line-height: 32px;
}



.sidenav li > a:hover {
  color: #5E3DC2!important;
}


/*  Sidebar scrolling   */


.collapsible-header a {
  opacity: 0.99;
}



.scrollable {
  position: absolute;
  height: 90vh !important;
  -ms-overflow-style: none;
  scrollbar-width: none;
}


.apilink {
  height: 10vh;
  margin-bottom: 0px;
  position: static;
}

.scrollable::-webkit-scrollbar {
  z-index: 0;
  width: 30px;
}

.scrollable::-webkit-scrollbar-track {
  box-shadow: inset 0 0 20px 20px white;
}

.scrollable::-webkit-scrollbar-thumb {
  background: white !important; /*f6f6f9*/
  border-radius: 110px;
  /* box-shadow: inset 10px 0px 0px 10px white; */
}

::-webkit-scrollbar {
  z-index: 0;
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px 0px rgba(0, 0, 0, 0.05);
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px 6px rgba(0, 0, 0, 0.05);
  width: 5px;
  background: var(--vippsorange);
  border-radius: 110px;
}



.sidenav.sidenav-fixed.sidebarPadding::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px 6px rgba(0, 0, 0, 0.05);
  width: 5px;
  background: white;
  border-radius: 110px;
}

.sidenav.sidenav-fixed.sidebarPadding::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 2px 0px white;

}

#myDR:hover {
  color: white;
}

#myDR {
  display: block;
  align-content: center;
  position: absolute;
  left: 0px;
  right: 0px;
  width: auto;
  height: auto;
}

a:hover {
  color: red;
}

.collapsible.popout > li {
  -webkit-transition: margin 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: margin 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}


/*  FROM MATERIALIZE */

.sidenav .collapsible,
.sidenav.fixed .collapsible {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.sidenav .collapsible li,
.sidenav.fixed .collapsible li {
  padding: 0;
}

.sidenav .collapsible-header,
.sidenav.fixed .collapsible-header {
  background-color: transparent;
  border: none;
  line-height: inherit;
  height: inherit;
  padding: 0 16px;
}

.sidenav .collapsible-header:hover,
.sidenav.fixed .collapsible-header:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.sidenav .collapsible-header i,
.sidenav.fixed .collapsible-header i {
  line-height: inherit;
}

.sidenav .collapsible-body,
.sidenav.fixed .collapsible-body {
  border: 0;
  background-color: #fff;
}

.sidenav .collapsible-body li a,
.sidenav.fixed .collapsible-body li a {
  padding: 0 23.5px 0 31px;
}


.sidenav {
  position: fixed;
  width: 300px;
  left: 0;
  top: 0;
  margin: 0;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  height: 100%;
  height: calc(100% + 60px);
  height: -moz-calc(100%);
  padding-bottom: 60px;
  background-color: #fff;
  z-index: 999;
  overflow-y: auto;
  will-change: transform;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.sidenav.right-aligned {
  right: 0;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  left: auto;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.sidenav .collapsible {
  margin: 0;
}

.sidenav li {
  float: none;
  line-height: 48px;
}

.sidenav li.active {
  background-color: rgba(0, 0, 0, 0.05);
}

.sidenav li > a {
  color: rgba(0, 0, 0, 0.87);
  display: block;
  font-size: 14px;
  /* font-weight: 500; */
  height: 48px;
  line-height: 48px;
  padding: 0 32px;
}

.sidenav li > a:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.sidenav li > a.btn, .sidenav li > a.btn-large, .sidenav li > a.btn-small, .sidenav li > a.btn-large, .sidenav li > a.btn-flat, .sidenav li > a.btn-floating {
  margin: 10px 15px;
}

.sidenav li > a.btn, .sidenav li > a.btn-large, .sidenav li > a.btn-small, .sidenav li > a.btn-large, .sidenav li > a.btn-floating {
  color: #fff;
}

.sidenav li > a.btn-flat {
  color: #343434;
}

.sidenav li > a.btn:hover, .sidenav li > a.btn-large:hover, .sidenav li > a.btn-small:hover, .sidenav li > a.btn-large:hover {
  background-color: #2bbbad;
}

.sidenav li > a.btn-floating:hover {
  background-color: #26a69a;
}

.sidenav li > a > i,
.sidenav li > a > [class^="mdi-"], .sidenav li > a li > a > [class*="mdi-"],
.sidenav li > a > i.material-icons {
  float: left;
  height: 48px;
  line-height: 48px;
  margin: 0 32px 0 0;
  width: 24px;
  color: rgba(0, 0, 0, 0.54);
}

.sidenav .divider {
  margin: 8px 0 0 0;
}

.sidenav .subheader {
  cursor: initial;
  pointer-events: none;
  color: rgba(0, 0, 0, 0.54);
  font-size: 14px;
  font-weight: 500;
  line-height: 48px;
}

.sidenav .subheader:hover {
  background-color: transparent;
}

.sidenav .user-view {
  position: relative;
  padding: 32px 32px 0;
  margin-bottom: 8px;
}

.sidenav .user-view > a {
  height: auto;
  padding: 0;
}

.sidenav .user-view > a:hover {
  background-color: transparent;
}

.sidenav .user-view .background {
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.sidenav .user-view .circle, .sidenav .user-view .name, .sidenav .user-view .email {
  display: block;
}

.sidenav .user-view .circle {
  height: 64px;
  width: 64px;
}

.sidenav .user-view .name,
.sidenav .user-view .email {
  font-size: 14px;
  line-height: 24px;
}

.sidenav .user-view .name {
  margin-top: 16px;
  font-weight: 500;
}

.sidenav .user-view .email {
  padding-bottom: 16px;
  font-weight: 400;
}

.sidenav.sidenav-fixed {
  left: 0;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  position: fixed;
}

.sidenav.sidenav-fixed.right-aligned {
  right: 0;
  left: auto;
}

@media only screen and (max-width: 992px) {
  .sidenav.sidenav-fixed {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  .sidenav.sidenav-fixed.right-aligned {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  .sidenav > a {
    padding: 0 16px;
  }
  .sidenav .user-view {
    padding: 16px 16px 0;
  }
}

.sidenav .collapsible-body > ul:not(.collapsible) > li.active,
.sidenav.sidenav-fixed .collapsible-body > ul:not(.collapsible) > li.active {
  background-color: #ee6e73;
}

.sidenav .collapsible-body > ul:not(.collapsible) > li.active a,
.sidenav.sidenav-fixed .collapsible-body > ul:not(.collapsible) > li.active a {
  color: #fff;
}

.sidenav .collapsible-body {
  padding: 0;
}

.sidenav-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0;
  height: 120vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 997;
  display: none;
}
.z-depth-1, nav, .card-panel, .card, .toast, .btn, .btn-large, .btn-small, .btn-floating, .dropdown-content, .collapsible, .sidenav {
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}
.sidenav span.badge {
  margin-top: calc(24px - 11px);
}

@media only screen and (min-width: 993px) {
  nav a.sidenav-trigger {
    display: none;
  }
}

nav .sidenav-trigger {
  float: left;
  position: relative;
  z-index: 1;
  height: 56px;
  margin: 0 18px;
}

nav .sidenav-trigger i {
  height: 56px;
  line-height: 56px;
}
@media only screen and (min-width: 601px) {
  nav.nav-extended .nav-wrapper {
    min-height: 64px;
  }
  nav, nav .nav-wrapper i, nav a.sidenav-trigger, nav a.sidenav-trigger i {
    height: 64px;
    line-height: 64px;
  }
  .navbar-fixed {
    height: 64px;
  }
}
.collapsible .collection {
  margin: 0;
  border: none;
}
.collapsible span.badge {
  margin-left: auto;
}
.collapsible {
  margin: 0.5rem 0 1rem 0;
}

.collapsible-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;

  display: flex;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  line-height: 1.5;
  padding: 1rem;
  background-color: #fff;

}

.collapsible-header:focus {
  outline: 0;
}

.collapsible-header i {
  width: 2rem;
  font-size: 1.6rem;
  display: inline-block;
  text-align: center;
  margin-right: 1rem;
}

.keyboard-focused .collapsible-header:focus {
  background-color: white;
}

.collapsible-body {
  display: none;

  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 2rem;
}


.collapsible.popout {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.collapsible.popout > li {
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  margin: 0 24px;
  -webkit-transition: margin 0.35s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: margin 0.35s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.collapsible.popout > li.active {
  -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  margin: 16px 0;
}