/* SIDEBAR */

.scrollable ul {
  margin-top: 0 !important;
}

.Sidebar {
  background: white;
  display: grid;
  grid-template-rows: 5% auto;
  margin-top: 20px;
}

.SidebarHeader {
  background: white;
  display: flex;
  padding-left: 30px;
  align-items: left !important;
  justify-content: left !important;
}

.Logo {
  width: 75%;
  margin-top: 30px;
  margin-bottom: 24px;
}

.SidebarMenu {
  background: white;
  color: #49367e;
}

.SidebarNav {
  background: white;
  padding: 10%;
  margin-left: 10%;
  text-align: left;
}

.NavListTop {
  width: 75%;
  margin: auto;
  list-style-type: none;
  padding: 0;
  /* display: inline-block; */
}

.NavListBot {
  width: 75%;
  margin: auto;
  list-style-type: none;
  padding-left: 20%;
  padding-bottom: 5%;

  /* display: inline-block; */
}

.NavElemTop {
  background: white;
  border-radius: 15px;
  padding: 2% 2%;
  margin-bottom: 2%;
}

.NavElemBot {
  background: white;
  border-radius: 15px;
  padding: 2% 2%;
  margin-bottom: 2%;
}




.listEl {
  text-decoration: none;
  font-size: 16px;
  color: #49367e;
  display: block;
  background-color: white;
  border-radius: 20px;
  width: 50%px !important;
  /*line-height: 32px !important;*/
}

.listEl:hover {
  background: #f6f6f9;
}

.listEl.hit {
  background: #f6f6f9;
}


.collapsible-header {
  padding: 0px 30px 0px 30px !important;
  text-decoration: none;
  line-height: 25px !important;
  font-size: 16px;
  color: #49367e;
  display: block;
  background-color: white;
  border-radius: 20px;
  width: 100%;
  border-bottom: white;
}

.collapsible-header:hover {
  background: #f6f6f9 !important;
  color: #5e3dc2 !important;
}

.hit {
  background: #f6f6f9;
}

.active {
  background-color: white !important;
}

.collapsible {
  border-top-color: white;
  border-top: 0px;
  border-bottom-color: white;
  border-bottom: 0px;
  border-right-color: white;
  border-right: 0px;
  border-left-color: white;
  border-left: 0px;
  box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0), 0 0px 0px 0px rgba(0, 0, 0, 0),
    0 0px 0px 0 rgba(0, 0, 0, 0);
}

.collapsible-body {
  padding: 0px 0px 0px 0px !important;
}

.sidebarMarg {
  margin-left: 50px !important;
}

.button:focus {
  background-color: #f6f6f9 !important;
}

#sidenav_2 {
  transform: none !important;
}


li > div > a:hover {
  display: block;
  color: #49367e;
}
/* SIDEBAR HEADERS */
li > div > a{
  display:inline-block !important;
  width:100% !important;
  height:100% !important;
  line-height: 19px !important;
  padding: 5px 10px 5px 5px !important;
  vertical-align: middle;
  color: #161225 !important;
  margin: 0px 10px 0px 0px !important;
}

.sidenav li {
  line-height: 32px !important;
  margin-top: 9px !important;
}

.collapsible-header{
  margin-top: 18px !important;
}

.collapsible-body.hit {
	display: block;
}

 /* SIDEBAR SUBHEADERS */ 
 li > a {
  border-radius: 20px;
  display:inline-block !important;
  width:100% !important;
  height:100% !important;
  line-height: 16px !important;
  padding: 5px 10px 5px 35px !important;

  vertical-align: middle;
  color: #161225 !important;
  line-height: 32px;
}



li > a:hover {
  background-color: #f6f6f9 !important;
}

/*  Sidebar scrolling   */


.collapsible-header a {
  opacity: 0.99;
}


.scrollable {
  width: 100%;
  position: absolute;
  overflow-y: scroll;
  height: 82vh;
}

.fadeout-top {
  margin-top: 0px;
  width: 100%;
  height: 12px;
  background-image: linear-gradient(to top, transparent 1%, white 100%);
  position: absolute;
  /* "transparent" only works here because == rgba(0,0,0,0) */
}

.fadeout-bottom {
  width: 100%;
  margin-top: calc(82vh - 12px);
  height: 12px;
  background-image: linear-gradient(to bottom, transparent 1%, white 100%);
  position: relative;
  /* "transparent" only works here because == rgba(0,0,0,0) */
}


.apilink {
  height: 10vh;
  margin-bottom: 0px;
  position: static;
}

.scrollable::-webkit-scrollbar {
  z-index: 0;
  width: 30px;
}

.scrollable::-webkit-scrollbar-track {
  box-shadow: inset 0 0 20px 20px white;
}

.scrollable::-webkit-scrollbar-thumb {
  width: 5px;
  background: #F6F6F9 !important;
  border-radius: 110px;
  box-shadow: inset 10px 0px 0px 10px white;
}

::-webkit-scrollbar {
  z-index: 0;
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 20px 20px rgba(0, 0, 0, 0.05);
}

::-webkit-scrollbar-thumb {
  width: 5px;
  background: var(--vippsorange);
  border-radius: 110px;
}

/* Vipps-colors */

:root {
  --vippsorange: #ff5b24;
  --lightvippsorange: #fdf4ed;
  --vippspurple: #4d3280;
  --vippsblue: #59cbe8;
  --vippsblack: #161225;
  --vippsblueberry: #49367e;
}

#myDR:hover {
  color: white;
}

#myDR {
  display: block;
  align-content: center;
  position: absolute;
  left: 0px;
  right: 0px;
  width: auto;
  height: auto;
}

a:hover {
  color: red;
}

.collapsible.popout > li {
  -webkit-transition: margin 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: margin 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

