.prismview {
  word-break:break-all;
}

.prismview pre,
.prismview code {
	font-family: 'PT Mono' , monospace;
	font-size: 1.2rem;
	line-height: 2.2rem;
	letter-spacing: .01rem;
}

.prismview {
  margin-bottom: 20px;
}

.token {
  background: none!important;
}

.prismview1 {
  margin-left:35px;
  margin-right: 35px;
}

.prismview2 {
  margin-left:0;
}

@media (min-width:768px) and (max-width:1100px) {
  .prismview pre,
  .prismview code {
    font-family: 'PT Mono' , monospace;
    line-height: 25px;
    letter-spacing: .01rem;
    padding: 0px 0px 0px 35px !important;
    word-break: break-all;
  }
}

@media (max-width: 812px) {
  .prismview pre,
  .prismview code {
    font-family: 'PT Mono' , monospace;
    font-size: 11px;
    line-height: 24px;
    letter-spacing: .01rem;
    padding: 0px 0px 0px 35px !important;
  }

  .prismview1 {
    padding:0;
    margin:0;
  }
  
  .prismview2 {
    margin-left:0!important;
    padding:0;
  }
}