/*  SETUP */
html, body {
    background: black;
    margin: 0%;
}

h1 {
    color: #FF5B24;
    margin-left: 5%;
    grid-row-start: 2;
    font: bold 40pt "Helvetica";
}
h2 {
    color: #FF5B24;
    font: bold 28pt "Helvetica";
    margin: auto;
}
/* ----------------------------------------------- */
/*  Frontpage  */

.StartPage {
    background: #FDF4ED;
    height: 100vh;
    padding: 100px;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.Cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 80%;
    margin: auto;
    align-content: center;
    
}

.APIcontainer {
    width: 20%;
    height: 20%;
    margin-top: 0;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    align-content: center;
    font: bold 12pt helvetica;
}

.FullAPIButton {
    border: none;
    background: #49367E;
    color: white;
    height: 60px;
    width: 250px;
    border-radius: 30px;
    font: bold 12pt helvetica;
}

.DocCardButtons {
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding: 10px
}

.DocumentationLink {
    border: none;
    background: none;
    font: bold 14pt helvetica;
    text-decoration: underline;
    cursor: pointer;
    color: #49367E;
}

.GetStartedButton {
    border: none;
    background: #49367E;
    color: white;
    font:  14pt helvetica;
    border-radius: 20px;
    height: 40px;
    width: 50%;
    margin: auto;
}

.DocCard {
    background: white;
    height: 100%;
    padding: 50px;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    text-align: center;
    align-content: center;
    font: 12pt helvetica;
    display: grid;
    margin: auto;
}

.DocuPage {
    color: #ffffff;
    background: white;
    height: 100vh;
    display: grid;
    grid-template-columns: 20% 80%;
}
/* ----------------------------------------------- */
/*  SIDEBAR  */
.Sidebar {
    background: white;
    display: grid;
    grid-template-rows: 5% auto;
}

.SidebarHeader {
    background: white;
    display:flex;
    align-items:center;
    justify-content:center;
}

.Logo {
    width: 50%;
}

.SidebarMenu {
    background: white;
    color: #49367E;
}

.SidebarNav {
    background:white;
    padding: 10%;
    margin-left: 10%;
    text-align: left;
}

.NavListTop {
    width: 75%;
    margin: auto;
    list-style-type: none;
    padding: 0;
    font: 20px Helvetica;
    /* display: inline-block; */
}

.NavListBot {
    width: 75%;
    margin: auto;
    list-style-type: none;
    padding-left: 20%;
    padding-bottom: 5%;
    font: 14px Helvetica 


    /* display: inline-block; */
    
}

.NavElemTop {
    background: white;
    border-radius: 15px;
    padding: 2% 2%;
    margin-bottom: 2%;

}

.NavElemBot {
    background: white;
    border-radius: 15px;
    padding: 2% 2%;
    margin-bottom: 2%;

}

.ApiLink {
    background: #F6F6F9;
    color: #49367E;
    width: 100%;
    margin: 0 auto;
    border-radius: 15px;
    font: bold 12px Helvetica;
}
/* ----------------------------------------------- */
/* CONTENT  */
.ContentField {
    background: white;
}

.ContentSection {
    background: white;
    height: 100%;
    width: 95%;
    margin: auto;
}

/*TODO Custom scrollbar breaks with a lot of browsers
https://stackoverflow.com/questions/9251354/css-customized-scroll-bar-in-div
*/
.ScrollSection {
    background: white;
    height: 100%;
    width: 5%;
    display: inline-block;
}

.TitleHeader {
    background: white;
    height: 20%;
    width: 100%;
    display: grid;
    /* grid-auto-rows: 50% 5% 45%; */
}

.ContentRow {
    background: white;
    display: grid;
    grid-auto-columns: 5% 40% 10% 40% 5%;
    padding: 0px 0px 100px 0px;
}

.TextBox {
    background: white;
    grid-column-start: 2;
    padding: 5px;
    color: black;
    font:  12pt "Helvetica";
    white-space: pre-wrap;
}

.ImgBox {
    background: white;
    grid-column-start: 4;
    display:flex;
    align-items:center;
    justify-content:center;
}

.CodeBox {
    background: #F6F6F9;
    color: #939393;
    grid-column-start: 4;
}