@import url("../../../styles/how-it-works.css");

/**
 * Stylings for the outer container for the data view.
 */
.dataview {
  background-color: var(--athensGreyMedio);
  border-radius: 5px;
  border:1px solid var(--athensGreyLight);
}

.dataview:hover {
  background-color: var(--athensGreyLight);
  border-radius: 5px;
  border:1px solid var(--athensGrey);
}

.dataview-title {
  font-family: Vipps;
  font-size: 0.8rem;
  color: var(--ghost);
  padding: 25px 0px 0px 35px; 
  border-radius: 5px 5px 0px 0px;
}




/**
 * The styling for the top bar of the data view. Is where we see the title and can copy the data.
 */
.dataview-utility-bar {
  height: 50px;
  width: 100%;
  
}

.copy-button {
	font-family: Vipps;
	font-weight: lighter;
	background-color:none;
  color: var(--rum);
  float: right;

  margin: 15px 25px 15px 15px;
	font-size: 13px;
  text-align: center;

  height: 30px;
  width: 65px;
  border-radius: 40px;
  border: 1px solid var(--rum);
}

.copy-button:hover {
    background-color: var(--athensGrey);
}

.copy-button.selected {
    color: var(--rum);
}

.copy-button:focus {
    outline: none;
}

.copy-button:active {
    background-color: var(--athensGrey);
}

.header-body-button {
	font-family: Vipps;
  font-size: 13px;
  color: var(--rum);
  outline: none;
  width: 100%;
  margin-right: 25px;
  padding: 25px 0px 0px 35px;  
  height: 3em;
  width: fit-content;
}

.header-body-button-activated {
  font-weight: bold;
  color: var(--rum);
}

.header-body-button:hover {
    color: var(--manatee);
}

/**
 * Adjustements on the padding on the stored containters
 */
.dataview .prismview {
  margin-bottom: 20px;
}

.prismview-1 {
  margin-left:35px;
}

.prismview-2 {
  margin-left:0;
}

.dataview .responsetable {
  margin: 5px 35px 10px 35px;
}


@media (min-width:768px) and (max-width:1100px) {
  .dataview-title {
    font-family: Vipps;
    font-size: 14px;
    color: var(--ghost);
    padding: 25px 0px 0px 35px; 
    border-radius: 5px 5px 0px 0px;
  }
} 

@media (max-width: 812px) {
  .dataview-utility-bar {
    display:flex;
    justify-content: flex-start;
    width:100%;
    padding: 0 3rem 0 1rem;
  }
  .dataview-title {
    font-family: Vipps;
    font-size: 10px;
    color: var(--ghost);
    padding: 4rem 2rem 2rem 4rem;
    border-radius: 5px 5px 0px 0px;
    word-break:break-all;
    -ms-word-break: break-all;
  }
  .prismview-1 {
    padding:0;
    margin:0;
  }
  
  .prismview-2 {
    margin-left:0!important;
    padding:0;
  }

  .header-body-button {
    height: 4rem;
    padding: 2rem 2rem 0 3rem;
  }

  .copy-button {
    display:none;
  }

  .prisview {
    word-break: break-all;
    -ms-word-break: break-all;
  }

  .dataview .responsetable {
    margin:1rem 3rem 2rem 3rem;
  }
} 