@import url("../../../styles/how-it-works.css");

/**
 * Stylings for the outer container for the data view.
 */
.dataview {
  background-color: var(--athensGreyMedio);
  border:1px solid var(--athensGreyLight);
  border-radius: 5px
}

.dataview:hover {
  background-color: var(--athensGreyLight);
  border:1px solid var(--athensGrey)
}

.dataview-title {
  font-family: Vipps;
  font-size: 1rem;
  color: var(--ghost);

  padding: 25px 0px 0px 35px; 
  border-radius: 5px 5px 0px 0px;
  word-break:break-all;
  -ms-word-break: break-all;
  -webkit-word-break:break-all
}

/**
 * The styling for the top bar of the data view. Is where we see the title and can copy the data.
 */

.dataview-utility-bar {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  height: 50px;
  width: 100%
}

.copy-button,
.header-body-button {
  font-family: Vipps;
  color: var(--rum);
}

.copy-button {
	font-weight: lighter;
	background-color:none;

  margin: 15px 25px 15px 15px;
  font-size: 13px;
  text-align: center;

  height: 30px;
  width: 70px;
  
  border-radius: 40px;
  border: 1px solid var(--rum);
  transition:1s ease
}

.copy-button:hover {
    background-color: var(--athensGrey);
}

.copy-button.selected {
    color: var(--rum);
}

.copy-button:focus {
    outline: none;
}

.copy-button:active {
    background-color: var(--athensGrey);
}

.header-body-button {
  font-size: 13px;
  outline: none;
  width: auto;
  margin-right: 5px;
  padding: 25px 0px 0px 35px;  
  height: 20px;
  align-self: flex-start
}



.header-body-button-activated {
  font-weight: 600;
  color: var(--rum)
}

.header-body-button:hover {
    color: var(--manatee)
}

/**
 * Adjustements on the padding on the stored containters
 */
.dataview .prismview {
  margin-bottom: 20px
}

.prismview-1 {
  margin-left: 35px
}

.prismview-2 {
  margin-left: 0
}

.dataview .responsetable {
  margin: 5px 35px 10px 35px
}


@media (min-width:768px) and (max-width:1100px) {
  .dataview-title {
    font-family: Vipps;
    font-size: 12px;
    color: var(--ghost);
    padding: 25px 0px 0px 35px; 
    border-radius: 5px 5px 0px 0px
  }

   .dataview-utility-bar {
     display: flex;
     justify-content: space-between;
     width: 100%
  }

  .header-body-button {
    width: auto
  }
} 

@media (max-width: 812px) {
  .dataview-utility-bar {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    padding: 0 3rem 0 1rem
  }
  .dataview-title {
    font-family: Vipps;
    font-size: 10px;
    color: var(--ghost);
    padding: 4rem 2rem 2rem 4rem;
    border-radius: 5px 5px 0px 0px;
    word-break: break-all;
    -ms-word-break: break-all;
    -webkit-word-break: break-all
  }

  .prismview-1 {
    padding: 0;
    margin: 0
  }
  
  .prismview-2 {
    margin-left: 0!important;
    padding: 0
  }

  .header-body-button {
    height: 10px;
    padding: 2rem 2rem 0 3rem
  }

  .copy-button {
    display: none
  }

  .prisview {
    word-break: break-all;
    -ms-word-break: break-all
  }

  .dataview .responsetable {
    margin: 1rem 3rem 2rem 3rem
  }
} 